*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

/*CABECERA*/
header{
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0, 0, 0, 0.623);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}
    
/*NAVEGADOR*/
nav{
   
    text-align: end;
    width: 100%;
    background-color: rgb( 255, 87, 51 )
}
nav,ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    height: 50px;
    list-style: none;
}
mark{
    background-color:rgba(255, 255, 255, 0.733);
    border-radius: 5px;
    border-style: double;
}

nav,ul,a{
    text-decoration: none;
    color: white;
}


a:hover{
    color:  rgb(253, 249, 249);
}
/*CONTENIDO PRINCIPAL*/
.container{
    width: 100%;
    height: 600px;
    background-color: rgba(194, 194, 194, 0.13);
}
.informacion{
    display: flex;
    gap: 90px;
    padding: 20px 20px;
    justify-content: center;
    
    
}
.consejos{
    width: 19%;
    height: 500px;
    background-color: white;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    
}

.recomendaciones{
    width: 19%;
    height: 500px;
    background-color: white;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    
}
.cuidados{
    width: 19%;
    height: 500px;
    background-color: white;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    
}
.formacion{
    width: 19%;
    height: 500px;
    background-color: white;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    
    
}
h4{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
img{
    border-radius: 5px;
    margin: 10px;
    width: 280px;
}
img:hover{
    transform: scale(1.1);
}
H6{
    font-size: 30px;
    margin-top: 30px;
}
p{
    
    margin-top: 5px;
    text-size-adjust: none;
}
.container1{
    display: flex;
    width: 100%;
    height: 600px;
   
}
.imagen{
    width: 50%;
    background-color:rgba(194, 194, 194, 0.13); 
    text-align: center;
    
}
.multimarcas{
    width: 90%;
    height: 500px;
    
}
.marcas{
    width: 80%;
    height: 80%;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

}
.texto{
    width: 50%;
    background-color:rgba(194, 194, 194, 0.13); 
}
.autodata{
    width: 90%;
    height: 500px;
    
}
.tm{
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
}
.datos{
    width: 50%;
    height: 90%;
    float: right;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top:-5px;
    
}
.somos{
    margin-top: 70px;
    line-height: 30px;
    
    
}
hr{
    border: 1px solid black;
}


h2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}
.ENLACE{
    color:rgb(255, 47, 0);
}
.ENLACE:hover{
    color: black
}
/*CONTENIDO SECUNDARIO*/

aside{
    height: 600px;
    background-color: rgb(247, 247, 247);
    margin: 10px;

}
.container2 {
    width: 80%;
    padding: 20px;
    margin:0 auto;
}
table {
    width: 100%;
    height: 400px;
    border-collapse: collapse;
    
    }
    table, th, td {
    border: 1px solid #ddd;
    }
    
th, td {
    padding: 12px;
    text-align: center;
    }
th {
    background-color: #ff5733;
    color: white;
    }

/*FOOTER*/


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    min-height: 156px;
}
.footer-container{
    display: flex;
    margin-top: 10px;
}
.footer-section{
    flex: 1 0 auto;
    margin-top: -10px;

    
    
}
.avisos{
    position: relative;
    top: 25px;
}


.footer-section,h3{
    padding: 10px;
}
.redes{
    width: 32px;
    height: 32px;
}

    

    

    



