<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Taller de mecanica" content="Mecanica,electricidad y mantenimiento de vehiculos hasta 3.500kgs.Servicio Itv">
    <title>TRABAJO FINAL</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <!---FAVICON-->
    <link rel="icon" href="../favicon.png">
</head>
<body>
    <!--- CONTENIDO DE LA CABECERA -->
    <header>
        <h1>TALLERES OSMAN</h1>
    </header>
        <!---NAVEGADOR-->
    <nav>
       
   <ul>
    
    <li><a href="../index.html">INICIO</a></li>
    <li><a href="../views/productos.html">GALERIA</a></li>
    <li><a href="../views/presupuesto.html">PRESUPUESTO</a></li>
    <li><a href="#"><mark>CONTACTO</mark></a></li>
   </ul>
  </nav>
  <!--CONTENIDO SECUNDARIO-->
  <main>
    <div class="container">
        <aside>
            <h2>CONTACTO</h2>
            <div class="contacto">
             <ol>
                <li class="negrita">Talleres Osman</li>
                <li class="negrita">Nombre Fiscal(Osman Reparaciones S.L)</li>
                <li>C/Monterrey,3 Pol. Indus. San Luis</li>
                <li>CP 29006 Málaga</li>
                <li class="negrita">Correo electrónico:</li>
                <li>talleresosman@gmail.com</li>
                <li class="negrita">Teléfono:</li>
                <li>952001070</li>
                <li>649908754</li>
            </ol>
        </div>
        <div class="linea-horizontal"></div>
        <h3 class="horario-apertura">HORARIO </h3>
        <ol class="horario">
            <li>De lunes a viernes </li>
            <li>de 08:00 a 16:00 horas</li>
            <li>TODO EL AÑO</li>
        </ol>
    </aside>
    <div class="linea-vertical"></div>
    <!--CONTENIDO PRINCIPAL-->
    
    <section>
        <h2 class="mapa">MAPA</h2>
        <div>
            <img src="../assets/images/Mapa.png" width="600" height="800"  alt="Direccion taller" class="ubicacion">
        </div>
    </section>
    </div>
</main>
 <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Contacto</h3>
                <p>Calle Monterrey,3 Pol San Luis</p>
                <p>29006 Málaga</p>
               
            </div>
           
            <div class="avisos">
              <p> <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Avisos Legales</a></p>
            <p>© 2024 Talleres Osman. Todos los derechos reservados.</p>
          </div>
           
            <div class="footer-section">
                <h3>Síguenos</h3>
                <p>
                    <a href="https://www.instagram.com/"><img src="../assets/images/instagram_logo_icon_257003.png"  width="32" height="32" alt="redes sociales"></a> 
                    <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/images/social_facebook_box_blue_256_30649.png" width="32" height="32" alt="redes sociales"></a> 
                    <a href="https://x.com/?lang=es"><img src="../assets/images/twitter_x_new_logo_x_rounded_icon_256078.png" width="32" height="32" alt="redes sociales"></a>
                </p>
               
            </div>
        </div>
       
    </footer>

    
</body>

</html>