<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Taller de mecanica" content="Mecanica,electricidad y mantenimiento de vehiculos hasta 3.500kgs.Servicio Itv">
    <title>TRABAJO FINAL</title>
    <link rel="stylesheet" href="../css/presupuesto.css">
    <!---FAVICON-->
    <link rel="icon" href="../favicon.png">
</head>
<body>
    <!--- CONTENIDO DE LA CABECERA -->
    <header>
        <h1>TALLERES OSMAN</h1>
    </header>
        <!---NAVEGADOR-->
    <nav>
        <ul>
            
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../views/productos.html">GALERIA</a></li>
            <li><a href="#"><mark>PRESUPUESTO</mark></a></li>
            <li><a href="../views/contacto.html">CONTACTO</a></li>
        </ul>
  </nav>
   <main>
    <!--CREACION DE FORMULARIOS PARA PRESUPUESTO-->
    <h2>SOLICITE PRESUPUESTO</h2>
    <div class="container" >
    <form action="#" method="post">
        <div class="input-label">
            <label for="Nombre">Nombre</label>
            <input type="text" name="nonbre" id="Nombre" value="" placeholder="Nombre" required pattern="[A-Za-z]+" title="El nombre solo puede contener letras y espacios.">

            <label for="Email">Email</label>
            <input type="email" name="email" id="Email" value="" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Introduce un correo válido (ejemplo@dominio.com)."  >

            <label for="Telefono">Telefono</label>
            <input type="text" name="telefono" id="Telefono" value="" placeholder="Telefono" pattern="[0-9]{9,12}" title="El teléfono debe contener entre 9 y 12 números."  >

            <label for="Informacion"></label><p>Solicite más información:</p>
            <textarea name="texto" id="Informacion" cols="38" rows="10"></textarea><p></p>

            <input type="submit" name="boton" value="Enviar Formulario">
            <input type="reset" name="boton" id="información"  value="Borrar Formulario">
            
            <label> <input  type="checkbox" id="politica" name="acepto" class="checkbox" >He leído y acepto la política de privacidad</label>
        </div>   
    </form>
    </div>
   </main>
  <!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Contacto</h3>
            <p>Calle Monterrey,3 Pol San Luis</p>
            <p>29006 Malaga</p>
            </div>
       
        <div class="avisos">
          <p> <a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Avisos Legales</a></p>
        <p>© 2024 Talleres Osman. Todos los derechos reservados.</p>
      </div>
       
        <div class="footer-section">
            <h3>Síguenos</h3>
            
                <a href="https://www.instagram.com/"><img src="../assets/images/instagram_logo_icon_257003.png"  width="32" height="32" alt="redes sociales"></a> 
                    <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/images/social_facebook_box_blue_256_30649.png" width="32" height="32" alt="redes sociales"></a> 
                    <a href="https://x.com/?lang=es"><img src="../assets/images/twitter_x_new_logo_x_rounded_icon_256078.png" width="32" height="32" alt="redes sociales"></a>
            
        </div>
    </div>
</footer>
</body>
</html>