<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Taller de mecanica" content="Mecanica,electricidad y mantenimiento de vehiculos hasta 3.500kgs.Servicio Itv">
    <title>TRABAJO FINAL</title>
    <link rel="stylesheet" href="../css/productos.css">
    <!---FAVICON-->
    <link rel="icon" href="../favicon.png">
</head>

<body>
    <!--- CONTENIDO DE LA CABECERA -->
   <header> 
  <div>
    <h1>TALLERES OSMAN</h1>
  </div>
</header>
        <!---NAVEGADOR-->
        <nav>
            <ul>
             
             <li><a href="../index.html">INICIO</a></li>
             <li><a href="#"><mark>GALERIA</mark></a></li>
             <li><a href="../views/presupuesto.html">PRESUPUESTO</a></li>
             <li><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
         </nav>
         <!--GALERIA DE SERVICIOS-->
         <main>
          <h2>NUESTROS SERVICIOS</h2>
         
            <div class="contenedor">
              <div class="colum">
                <h3>CAMBIO DE ACEITE</h3>
                <img src="../assets/images/aceite.jpg" width="200" height="200" alt="aceite motor">
               
              </div>
              <div class="colum">
                <h3>DIAG.ELECTRÓNICA</h3>
             
                 <img src="../assets/images/autel.jpg" width="200" height="200" alt="consola de diagnosis">
              </div>
              
               <div class="colum">
                <h3>PRE-ITV</h3>
                 
                 <img src="../assets/images/itv.png" width="200" height="200" alt="revision itv">
                </div>
                 <div class="colum">
                  <h3>FRENOS</h3>
                    <img src="../assets/images/discos-de-freno.jpg" width="200" height="200" alt="discos de frenos">
                  </div>
                 <div class="colum">
                  <h3>SUSPENSION</h3>
                  <img src="../assets/images/suspension.jpg" width="200" height="200" alt="amortiguador">
                </div>
                 <div class="colum">
                  <h3>A/C</h3>
                  <img src="../assets/images/a-c.jpg" width="200" height="200"  alt="aire acondicionado">
                </div>
                <div class="colum">
                  <h3>NEUMATICOS</h3>
                  <img src="../assets/images/neumaticos.jpg" width="200" height="200"  alt="neumaticos">
                </div>
                <div class="colum">
                  <h3>BATERIA</h3>
                <img src="../assets/images/bateria.jpg" width="200" height="200" alt="bateria">
              </div>
              <div class="colum">
                <h3>LUCES</h3>
                <img src="../assets/images/faros.jpg" width="200" height="200" alt="regulacion faros">
              </div>
            </div>
          </main>
        <!--FOOTER-->
        <footer>
          <div class="footer-container">
            <div class="footer-section">
                <h3>Contacto</h3>
                <p>Calle Monterrey,3 Pol San Luis</p>
                <p>29006 Málaga</p>
               
            </div>
           
            <div class="avisos">
              <p><a href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Avisos Legales</a> </p>
            <p>© 2024 Talleres Osman. Todos los derechos reservados.</p>
          </div>
           
            <div class="footer-section">
                <h3>Síguenos</h3>
                
                  <a href="https://www.instagram.com/"><img src="../assets/images/instagram_logo_icon_257003.png"  width="32" height="32" alt="redes sociales"></a> 
                  <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/images/social_facebook_box_blue_256_30649.png" width="32" height="32" alt="redes sociales"></a> 
                  <a href="https://x.com/?lang=es"><img src="../assets/images/twitter_x_new_logo_x_rounded_icon_256078.png" width="32" height="32" alt="redes sociales"></a>
                
               
            </div>
        </div>
       
    </footer>  
  </body>
</html>